In [9]:
import yfinance as yf
import pandas as pd
import matplotlib as plt
import numpy as np

The library yfinance connects to Yahoo Finance, allowing you to get information from the stock market.

In [10]:
Apple = yf.download("AAPL", start = "2010-01-01", end = "2022-12-31")

[*********************100%***********************]  1 of 1 completed

In [11]:
Apple #yf.download simply saves the information, but by calling the variable we can access the information

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.505279,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.516528,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.412874,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.401017,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.443572,447610800
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.658981,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.831772,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.847855,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.412415,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.731918,76960600

In [12]:
#If we want to access information for multiple companies at the same time, we can create an array and use the array
# as the input for yf.download
ticker = ["ROBO", "META", "OXY", "MRO"]

In [5]:
stocks = yf.download(ticker, start = "2010-01-01", end = "2022-12-31")

[*********************100%***********************]  4 of 4 completed

In [6]:
stocks

             Adj Close                                        Close  \
                  META        MRO        OXY       ROBO        META
Date
2010-01-04         NaN  14.953582  53.245686        NaN         NaN
2010-01-05         NaN  14.967559  52.861214        NaN         NaN
2010-01-06         NaN  15.298201  53.495560        NaN         NaN
2010-01-07         NaN  15.205055  53.098309        NaN         NaN
2010-01-08         NaN  15.228347  53.642937        NaN         NaN
...                ...        ...        ...        ...         ...
2022-12-23  118.040001  27.339598  63.950001  46.110001  118.040001
2022-12-27  116.879997  27.548828  64.330002  45.950001  116.879997
2022-12-28  115.620003  26.482744  62.080002  45.299999  115.620003
2022-12-29  120.260002  26.682013  62.279999  46.520000  120.260002
2022-12-30  120.339996  26.970951  62.990002  46.330002  120.339996

                                                   High             ...  \
                  MRO        OXY       ROBO        META        MRO  ...
Date                                                                ...
2010-01-04  19.153616  79.614906        NaN         NaN  19.189405  ...
2010-01-05  19.171511  79.040070        NaN         NaN  19.290810  ...
2010-01-06  19.595024  79.988548        NaN         NaN  19.624849  ...
2010-01-07  19.475725  79.394547        NaN         NaN  19.535376  ...
2010-01-08  19.505550  80.208900        NaN         NaN  19.565201  ...
...               ...        ...        ...         ...        ...  ...
2022-12-23  27.440001  63.950001  46.110001  118.180000  27.510000  ...
2022-12-27  27.650000  64.330002  45.950001  118.599998  27.830000  ...
2022-12-28  26.580000  62.080002  45.299999  118.150002  27.450001  ...
2022-12-29  26.780001  62.279999  46.520000  121.029999  26.980000  ...
2022-12-30  27.070000  62.990002  46.330002  120.419998  27.139999  ...

                  Low                   Open                                   \
                  OXY       ROBO        META        MRO        OXY       ROBO
Date
2010-01-04  78.752647        NaN         NaN  18.938875  79.193359        NaN
2010-01-05  78.589775        NaN         NaN  19.231159  79.691551        NaN
2010-01-06  78.398163        NaN         NaN  19.153616  78.944260        NaN
2010-01-07  78.915520        NaN         NaN  19.535376  79.471191        NaN
2010-01-08  78.110748        NaN         NaN  19.374319  79.059227        NaN
...               ...        ...         ...        ...        ...        ...
2022-12-23  62.380001  45.730000  116.029999  27.129999  62.520000  46.080002
2022-12-27  63.880001  45.463001  117.930000  27.670000  64.309998  46.090000
2022-12-28  61.750000  45.220001  116.250000  27.400000  63.889999  45.950001
2022-12-29  61.290001  45.799999  116.400002  26.350000  61.580002  45.799999
2022-12-30  61.919998  45.830002  118.160004  26.590000  62.000000  46.099998

                Volume
                  META       MRO       OXY      ROBO
Date
2010-01-04         NaN   9214250   3630352       NaN
2010-01-05         NaN   9483319   3515432       NaN
2010-01-06         NaN  15233864   5578661       NaN
2010-01-07         NaN   7803018   4300559       NaN
2010-01-08         NaN   7585247   4336465       NaN
...                ...       ...       ...       ...
2022-12-23  17796600.0   9400500  11828800   94700.0
2022-12-27  21392300.0   6868500   9026100  109500.0
2022-12-28  19612500.0   7907600  10347000  110200.0
2022-12-29  22366200.0   6133100   7338700  100900.0
2022-12-30  19492100.0   7194200   8177200   83600.0

[3272 rows x 24 columns]

In [13]:
stocks.head() #This gets the top 5 rows

           Adj Close                            Close                        \
                META        MRO        OXY ROBO  META        MRO        OXY
Date
2010-01-04       NaN  14.953582  53.245686  NaN   NaN  19.153616  79.614906
2010-01-05       NaN  14.967559  52.861214  NaN   NaN  19.171511  79.040070
2010-01-06       NaN  15.298201  53.495560  NaN   NaN  19.595024  79.988548
2010-01-07       NaN  15.205055  53.098309  NaN   NaN  19.475725  79.394547
2010-01-08       NaN  15.228347  53.642937  NaN   NaN  19.505550  80.208900

                High             ...        Low      Open             \
           ROBO META        MRO  ...        OXY ROBO META        MRO
Date                             ...
2010-01-04  NaN  NaN  19.189405  ...  78.752647  NaN  NaN  18.938875
2010-01-05  NaN  NaN  19.290810  ...  78.589775  NaN  NaN  19.231159
2010-01-06  NaN  NaN  19.624849  ...  78.398163  NaN  NaN  19.153616
2010-01-07  NaN  NaN  19.535376  ...  78.915520  NaN  NaN  19.535376
2010-01-08  NaN  NaN  19.565201  ...  78.110748  NaN  NaN  19.374319

                           Volume
                  OXY ROBO   META       MRO      OXY ROBO
Date
2010-01-04  79.193359  NaN    NaN   9214250  3630352  NaN
2010-01-05  79.691551  NaN    NaN   9483319  3515432  NaN
2010-01-06  78.944260  NaN    NaN  15233864  5578661  NaN
2010-01-07  79.471191  NaN    NaN   7803018  4300559  NaN
2010-01-08  79.059227  NaN    NaN   7585247  4336465  NaN

[5 rows x 24 columns]

In [14]:
stocks.tail() #gets the bottom 5 rows

             Adj Close                                        Close  \
                  META        MRO        OXY       ROBO        META
Date
2022-12-23  118.040001  27.339598  63.950001  46.110001  118.040001
2022-12-27  116.879997  27.548828  64.330002  45.950001  116.879997
2022-12-28  115.620003  26.482744  62.080002  45.299999  115.620003
2022-12-29  120.260002  26.682013  62.279999  46.520000  120.260002
2022-12-30  120.339996  26.970951  62.990002  46.330002  120.339996

                                                   High             ...  \
                  MRO        OXY       ROBO        META        MRO  ...
Date                                                                ...
2022-12-23  27.440001  63.950001  46.110001  118.180000  27.510000  ...
2022-12-27  27.650000  64.330002  45.950001  118.599998  27.830000  ...
2022-12-28  26.580000  62.080002  45.299999  118.150002  27.450001  ...
2022-12-29  26.780001  62.279999  46.520000  121.029999  26.980000  ...
2022-12-30  27.070000  62.990002  46.330002  120.419998  27.139999  ...

                  Low                   Open                                   \
                  OXY       ROBO        META        MRO        OXY       ROBO
Date
2022-12-23  62.380001  45.730000  116.029999  27.129999  62.520000  46.080002
2022-12-27  63.880001  45.463001  117.930000  27.670000  64.309998  46.090000
2022-12-28  61.750000  45.220001  116.250000  27.400000  63.889999  45.950001
2022-12-29  61.290001  45.799999  116.400002  26.350000  61.580002  45.799999
2022-12-30  61.919998  45.830002  118.160004  26.590000  62.000000  46.099998

                Volume
                  META      MRO       OXY      ROBO
Date
2022-12-23  17796600.0  9400500  11828800   94700.0
2022-12-27  21392300.0  6868500   9026100  109500.0
2022-12-28  19612500.0  7907600  10347000  110200.0
2022-12-29  22366200.0  6133100   7338700  100900.0
2022-12-30  19492100.0  7194200   8177200   83600.0

[5 rows x 24 columns]

In [15]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3272 entries, 2010-01-04 to 2022-12-30
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, META)  2673 non-null   float64
 1   (Adj Close, MRO)   3272 non-null   float64
 2   (Adj Close, OXY)   3272 non-null   float64
 3   (Adj Close, ROBO)  2315 non-null   float64
 4   (Close, META)      2673 non-null   float64
 5   (Close, MRO)       3272 non-null   float64
 6   (Close, OXY)       3272 non-null   float64
 7   (Close, ROBO)      2315 non-null   float64
 8   (High, META)       2673 non-null   float64
 9   (High, MRO)        3272 non-null   float64
 10  (High, OXY)        3272 non-null   float64
 11  (High, ROBO)       2315 non-null   float64
 12  (Low, META)        2673 non-null   float64
 13  (Low, MRO)         3272 non-null   float64
 14  (Low, OXY)         3272 non-null   float64
 15  (Low, ROBO)        2315 non-null   float64
 16  (Open, META)       2673 non-null   float64
 17  (Open, MRO)        3272 non-null   float64
 18  (Open, OXY)        3272 non-null   float64
 19  (Open, ROBO)       2315 non-null   float64
 20  (Volume, META)     2673 non-null   float64
 21  (Volume, MRO)      3272 non-null   int64
 22  (Volume, OXY)      3272 non-null   int64
 23  (Volume, ROBO)     2315 non-null   float64
dtypes: float64(22), int64(2)
memory usage: 639.1 KB

In [17]:
stocks.to_csv("Stock file") #saves to the same folder as the current file; can be read with pandas

In [18]:
stocks = pd.read_csv("Stock file")

In [19]:
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Close,Close.1,Close.2,Close.3,High,...,Low.2,Low.3,Open,Open.1,Open.2,Open.3,Volume,Volume.1,Volume.2,Volume.3
0,NaN,META,MRO,OXY,ROBO,META,MRO,OXY,ROBO,META,...,OXY,ROBO,META,MRO,OXY,ROBO,META,MRO,OXY,ROBO
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,NaN,14.953581809997559,53.24568557739258,NaN,NaN,19.153615951538086,79.61490631103516,NaN,NaN,...,78.75264739990234,NaN,NaN,18.938875198364258,79.193359375,NaN,NaN,9214250,3630352,NaN
3,2010-01-05,NaN,14.967558860778809,52.86121368408203,NaN,NaN,19.171510696411133,79.04006958007812,NaN,NaN,...,78.58977508544922,NaN,NaN,19.231159210205078,79.6915512084961,NaN,NaN,9483319,3515432,NaN
4,2010-01-06,NaN,15.298200607299805,53.49555969238281,NaN,NaN,19.59502410888672,79.9885482788086,NaN,NaN,...,78.39816284179688,NaN,NaN,19.153615951538086,78.94425964355469,NaN,NaN,15233864,5578661,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,2022-12-23,118.04000091552734,27.339597702026367,63.95000076293945,46.11000061035156,118.04000091552734,27.440000534057617,63.95000076293945,46.11000061035156,118.18000030517578,...,62.380001068115234,45.72999954223633,116.02999877929688,27.1299991607666,62.52000045776367,46.08000183105469,17796600.0,9400500,11828800,94700.0
3270,2022-12-27,116.87999725341797,27.548828125,64.33000183105469,45.95000076293945,116.87999725341797,27.649999618530273,64.33000183105469,45.95000076293945,118.5999984741211,...,63.880001068115234,45.4630012512207,117.93000030517578,27.670000076293945,64.30999755859375,46.09000015258789,21392300.0,6868500,9026100,109500.0
3271,2022-12-28,115.62000274658203,26.482744216918945,62.08000183105469,45.29999923706055,115.62000274658203,26.579999923706055,62.08000183105469,45.29999923706055,118.1500015258789,...,61.75,45.220001220703125,116.25,27.399999618530273,63.88999938964844,45.95000076293945,19612500.0,7907600,10347000,110200.0
3272,2022-12-29,120.26000213623047,26.6820125579834,62.279998779296875,46.52000045776367,120.26000213623047,26.780000686645508,62.279998779296875,46.52000045776367,121.02999877929688,...,61.290000915527344,45.79999923706055,116.4000015258789,26.350000381469727,61.58000183105469,45.79999923706055,22366200.0,6133100,7338700,100900.0
3273,2022-12-30,120.33999633789062,26.970951080322266,62.9900016784668,46.33000183105469,120.33999633789062,27.06999969482422,62.9900016784668,46.33000183105469,120.41999816894531,...,61.91999816894531,45.83000183105469,118.16000366210938,26.59000015258789,62.0,46.099998474121094,19492100.0,7194200,8177200,83600.0

You can make many changes to how pandas incorporates the data:

In [39]:
stocks = pd.read_csv("Stock file", header = [0,1]) # makes more space between heaader and following columns
stocks

     Unnamed: 0_level_0   Adj Close                                   \
     Unnamed: 0_level_1        META        MRO        OXY       ROBO
0                  Date         NaN        NaN        NaN        NaN
1            2010-01-04         NaN  14.953582  53.245686        NaN
2            2010-01-05         NaN  14.967559  52.861214        NaN
3            2010-01-06         NaN  15.298201  53.495560        NaN
4            2010-01-07         NaN  15.205055  53.098309        NaN
...                 ...         ...        ...        ...        ...
3268         2022-12-23  118.040001  27.339598  63.950001  46.110001
3269         2022-12-27  116.879997  27.548828  64.330002  45.950001
3270         2022-12-28  115.620003  26.482744  62.080002  45.299999
3271         2022-12-29  120.260002  26.682013  62.279999  46.520000
3272         2022-12-30  120.339996  26.970951  62.990002  46.330002

           Close                                         High  ...        Low  \
            META        MRO        OXY       ROBO        META  ...        OXY
0            NaN        NaN        NaN        NaN         NaN  ...        NaN
1            NaN  19.153616  79.614906        NaN         NaN  ...  78.752647
2            NaN  19.171511  79.040070        NaN         NaN  ...  78.589775
3            NaN  19.595024  79.988548        NaN         NaN  ...  78.398163
4            NaN  19.475725  79.394547        NaN         NaN  ...  78.915520
...          ...        ...        ...        ...         ...  ...        ...
3268  118.040001  27.440001  63.950001  46.110001  118.180000  ...  62.380001
3269  116.879997  27.650000  64.330002  45.950001  118.599998  ...  63.880001
3270  115.620003  26.580000  62.080002  45.299999  118.150002  ...  61.750000
3271  120.260002  26.780001  62.279999  46.520000  121.029999  ...  61.290001
3272  120.339996  27.070000  62.990002  46.330002  120.419998  ...  61.919998

                       Open                                       Volume  \
           ROBO        META        MRO        OXY       ROBO        META
0           NaN         NaN        NaN        NaN        NaN         NaN
1           NaN         NaN  18.938875  79.193359        NaN         NaN
2           NaN         NaN  19.231159  79.691551        NaN         NaN
3           NaN         NaN  19.153616  78.944260        NaN         NaN
4           NaN         NaN  19.535376  79.471191        NaN         NaN
...         ...         ...        ...        ...        ...         ...
3268  45.730000  116.029999  27.129999  62.520000  46.080002  17796600.0
3269  45.463001  117.930000  27.670000  64.309998  46.090000  21392300.0
3270  45.220001  116.250000  27.400000  63.889999  45.950001  19612500.0
3271  45.799999  116.400002  26.350000  61.580002  45.799999  22366200.0
3272  45.830002  118.160004  26.590000  62.000000  46.099998  19492100.0


             MRO         OXY      ROBO
0            NaN         NaN       NaN
1      9214250.0   3630352.0       NaN
2      9483319.0   3515432.0       NaN
3     15233864.0   5578661.0       NaN
4      7803018.0   4300559.0       NaN
...          ...         ...       ...
3268   9400500.0  11828800.0   94700.0
3269   6868500.0   9026100.0  109500.0
3270   7907600.0  10347000.0  110200.0
3271   6133100.0   7338700.0  100900.0
3272   7194200.0   8177200.0   83600.0

[3273 rows x 25 columns]

In [40]:
stocks = pd.read_csv("Stock file", header = [0,1], index_col = [0]) # removes every column excluding the first (0-index)
stocks

             Adj Close                                        Close  \
                  META        MRO        OXY       ROBO        META
Date
2010-01-04         NaN  14.953582  53.245686        NaN         NaN
2010-01-05         NaN  14.967559  52.861214        NaN         NaN
2010-01-06         NaN  15.298201  53.495560        NaN         NaN
2010-01-07         NaN  15.205055  53.098309        NaN         NaN
2010-01-08         NaN  15.228347  53.642937        NaN         NaN
...                ...        ...        ...        ...         ...
2022-12-23  118.040001  27.339598  63.950001  46.110001  118.040001
2022-12-27  116.879997  27.548828  64.330002  45.950001  116.879997
2022-12-28  115.620003  26.482744  62.080002  45.299999  115.620003
2022-12-29  120.260002  26.682013  62.279999  46.520000  120.260002
2022-12-30  120.339996  26.970951  62.990002  46.330002  120.339996

                                                   High             ...  \
                  MRO        OXY       ROBO        META        MRO  ...
Date                                                                ...
2010-01-04  19.153616  79.614906        NaN         NaN  19.189405  ...
2010-01-05  19.171511  79.040070        NaN         NaN  19.290810  ...
2010-01-06  19.595024  79.988548        NaN         NaN  19.624849  ...
2010-01-07  19.475725  79.394547        NaN         NaN  19.535376  ...
2010-01-08  19.505550  80.208900        NaN         NaN  19.565201  ...
...               ...        ...        ...         ...        ...  ...
2022-12-23  27.440001  63.950001  46.110001  118.180000  27.510000  ...
2022-12-27  27.650000  64.330002  45.950001  118.599998  27.830000  ...
2022-12-28  26.580000  62.080002  45.299999  118.150002  27.450001  ...
2022-12-29  26.780001  62.279999  46.520000  121.029999  26.980000  ...
2022-12-30  27.070000  62.990002  46.330002  120.419998  27.139999  ...

                  Low                   Open                                   \
                  OXY       ROBO        META        MRO        OXY       ROBO
Date
2010-01-04  78.752647        NaN         NaN  18.938875  79.193359        NaN
2010-01-05  78.589775        NaN         NaN  19.231159  79.691551        NaN
2010-01-06  78.398163        NaN         NaN  19.153616  78.944260        NaN
2010-01-07  78.915520        NaN         NaN  19.535376  79.471191        NaN
2010-01-08  78.110748        NaN         NaN  19.374319  79.059227        NaN
...               ...        ...         ...        ...        ...        ...
2022-12-23  62.380001  45.730000  116.029999  27.129999  62.520000  46.080002
2022-12-27  63.880001  45.463001  117.930000  27.670000  64.309998  46.090000
2022-12-28  61.750000  45.220001  116.250000  27.400000  63.889999  45.950001
2022-12-29  61.290001  45.799999  116.400002  26.350000  61.580002  45.799999
2022-12-30  61.919998  45.830002  118.160004  26.590000  62.000000  46.099998

                Volume
                  META       MRO       OXY      ROBO
Date
2010-01-04         NaN   9214250   3630352       NaN
2010-01-05         NaN   9483319   3515432       NaN
2010-01-06         NaN  15233864   5578661       NaN
2010-01-07         NaN   7803018   4300559       NaN
2010-01-08         NaN   7585247   4336465       NaN
...                ...       ...       ...       ...
2022-12-23  17796600.0   9400500  11828800   94700.0
2022-12-27  21392300.0   6868500   9026100  109500.0
2022-12-28  19612500.0   7907600  10347000  110200.0
2022-12-29  22366200.0   6133100   7338700  100900.0
2022-12-30  19492100.0   7194200   8177200   83600.0

[3272 rows x 24 columns]

If we want the column names for a table, we can access that:

In [41]:
stocks.columns

MultiIndex([('Adj Close', 'META'),
            ('Adj Close',  'MRO'),
            ('Adj Close',  'OXY'),
            ('Adj Close', 'ROBO'),
            (    'Close', 'META'),
            (    'Close',  'MRO'),
            (    'Close',  'OXY'),
            (    'Close', 'ROBO'),
            (     'High', 'META'),
            (     'High',  'MRO'),
            (     'High',  'OXY'),
            (     'High', 'ROBO'),
            (      'Low', 'META'),
            (      'Low',  'MRO'),
            (      'Low',  'OXY'),
            (      'Low', 'ROBO'),
            (     'Open', 'META'),
            (     'Open',  'MRO'),
            (     'Open',  'OXY'),
            (     'Open', 'ROBO'),
            (   'Volume', 'META'),
            (   'Volume',  'MRO'),
            (   'Volume',  'OXY'),
            (   'Volume', 'ROBO')],
           )

In [42]:
#We can convert the above view to a tuple:
stocks.columns = stocks.columns.to_flat_index()
stocks.columns

Index([('Adj Close', 'META'),  ('Adj Close', 'MRO'),  ('Adj Close', 'OXY'),
       ('Adj Close', 'ROBO'),     ('Close', 'META'),      ('Close', 'MRO'),
            ('Close', 'OXY'),     ('Close', 'ROBO'),      ('High', 'META'),
             ('High', 'MRO'),       ('High', 'OXY'),      ('High', 'ROBO'),
             ('Low', 'META'),        ('Low', 'MRO'),        ('Low', 'OXY'),
             ('Low', 'ROBO'),      ('Open', 'META'),       ('Open', 'MRO'),
             ('Open', 'OXY'),      ('Open', 'ROBO'),    ('Volume', 'META'),
           ('Volume', 'MRO'),     ('Volume', 'OXY'),    ('Volume', 'ROBO')],
      dtype='object')

In [43]:
#to convert back, we can do the following;
columns = pd.MultiIndex.from_tuples(columns)
columns

MultiIndex([('Adj Close', 'META'),
            ('Adj Close',  'MRO'),
            ('Adj Close',  'OXY'),
            ('Adj Close', 'ROBO'),
            (    'Close', 'META'),
            (    'Close',  'MRO'),
            (    'Close',  'OXY'),
            (    'Close', 'ROBO'),
            (     'High', 'META'),
            (     'High',  'MRO'),
            (     'High',  'OXY'),
            (     'High', 'ROBO'),
            (      'Low', 'META'),
            (      'Low',  'MRO'),
            (      'Low',  'OXY'),
            (      'Low', 'ROBO'),
            (     'Open', 'META'),
            (     'Open',  'MRO'),
            (     'Open',  'OXY'),
            (     'Open', 'ROBO'),
            (   'Volume', 'META'),
            (   'Volume',  'MRO'),
            (   'Volume',  'OXY'),
            (   'Volume', 'ROBO')],
           )

In [45]:
stocks.describe() #describes all the data

,"(Adj Close, META)","(Adj Close, MRO)","(Adj Close, OXY)","(Adj Close, ROBO)","(Close, META)","(Close, MRO)","(Close, OXY)","(Close, ROBO)","(High, META)","(High, MRO)",...,"(Low, OXY)","(Low, ROBO)","(Open, META)","(Open, MRO)","(Open, OXY)","(Open, ROBO)","(Volume, META)","(Volume, MRO)","(Volume, OXY)","(Volume, ROBO)"
count,2673.000000,3272.000000,3272.000000,2315.000000,2673.000000,3272.000000,3272.000000,2315.000000,2673.000000,3272.000000,...,3272.000000,2315.000000,2673.000000,3272.000000,3272.000000,2315.000000,2.673000e+03,3.272000e+03,3.272000e+03,2.315000e+03
mean,147.991912,18.722305,53.187430,38.749322,147.991912,21.107132,67.247110,39.048224,149.839027,21.422889,...,66.425899,38.776468,147.961691,21.118799,67.268701,39.047157,3.120242e+07,1.384412e+07,9.696019e+06,1.661534e+05
std,86.999128,7.653757,15.285195,13.427150,86.999128,9.188407,23.095862,13.312595,88.057578,9.238337,...,22.984758,13.196248,86.969082,9.189283,23.099774,13.306861,2.720501e+07,1.110119e+07,1.135680e+07,2.586283e+05
min,17.730000,3.009598,8.789411,20.474197,17.730000,3.120000,8.880000,20.750000,18.270000,3.290000,...,8.520000,12.830000,18.080000,3.220000,8.700000,20.309999,5.913100e+06,1.720400e+06,9.964910e+05,2.100000e+03
25%,77.830002,13.103530,50.210343,26.443107,77.830002,13.915000,60.040001,26.920000,78.529999,14.167500,...,59.305001,26.799999,77.800003,13.947500,60.049999,26.940001,1.618930e+07,7.339365e+06,3.935050e+06,3.320000e+04
50%,142.279999,16.820357,57.194824,37.636013,142.279999,19.299757,73.290001,38.009998,144.559998,19.544323,...,72.462391,37.680000,142.259995,19.323617,73.352551,37.980000,2.321740e+07,1.114530e+07,5.331752e+06,9.640000e+04
75%,191.289993,25.147483,62.926062,45.136364,191.289993,29.187652,82.958584,45.295000,194.029999,29.511205,...,82.081915,44.985498,191.360001,29.163703,82.987961,45.230001,3.616910e+07,1.681477e+07,1.029032e+07,2.021500e+05
max,382.179993,36.443359,75.840591,72.014923,382.179993,41.689999,110.886032,72.139999,384.329987,41.919998,...,109.295647,71.848000,381.679993,41.700001,110.282448,72.239998,5.735764e+08,2.739966e+08,1.346690e+08,5.493300e+06