In [1]:
import yfinance as yf
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
Apple = yf.download("AAPL", start = "2010-01-01", end = "2022-12-31")

[*********************100%***********************]  1 of 1 completed

In [3]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.505280,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.516527,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.412873,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.401017,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.443573,447610800
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.658981,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.831772,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.847855,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.412415,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.731918,76960600

In [4]:
ticker = ["ROBO", "META", "OXY", "MRO"]

In [5]:
stocks = yf.download(ticker, start = "2010-01-01", end = "2022-12-31")

[*********************100%***********************]  4 of 4 completed

In [6]:
stocks

             Adj Close                                        Close  \
                  META        MRO        OXY       ROBO        META
Date
2010-01-04         NaN  14.953582  53.245686        NaN         NaN
2010-01-05         NaN  14.967559  52.861214        NaN         NaN
2010-01-06         NaN  15.298201  53.495560        NaN         NaN
2010-01-07         NaN  15.205055  53.098309        NaN         NaN
2010-01-08         NaN  15.228347  53.642937        NaN         NaN
...                ...        ...        ...        ...         ...
2022-12-23  118.040001  27.339598  63.950001  46.110001  118.040001
2022-12-27  116.879997  27.548828  64.330002  45.950001  116.879997
2022-12-28  115.620003  26.482744  62.080002  45.299999  115.620003
2022-12-29  120.260002  26.682013  62.279999  46.520000  120.260002
2022-12-30  120.339996  26.970951  62.990002  46.330002  120.339996

                                                   High             ...  \
                  MRO        OXY       ROBO        META        MRO  ...
Date                                                                ...
2010-01-04  19.153616  79.614906        NaN         NaN  19.189405  ...
2010-01-05  19.171511  79.040070        NaN         NaN  19.290810  ...
2010-01-06  19.595024  79.988548        NaN         NaN  19.624849  ...
2010-01-07  19.475725  79.394547        NaN         NaN  19.535376  ...
2010-01-08  19.505550  80.208900        NaN         NaN  19.565201  ...
...               ...        ...        ...         ...        ...  ...
2022-12-23  27.440001  63.950001  46.110001  118.180000  27.510000  ...
2022-12-27  27.650000  64.330002  45.950001  118.599998  27.830000  ...
2022-12-28  26.580000  62.080002  45.299999  118.150002  27.450001  ...
2022-12-29  26.780001  62.279999  46.520000  121.029999  26.980000  ...
2022-12-30  27.070000  62.990002  46.330002  120.419998  27.139999  ...

                  Low                   Open                                   \
                  OXY       ROBO        META        MRO        OXY       ROBO
Date
2010-01-04  78.752647        NaN         NaN  18.938875  79.193359        NaN
2010-01-05  78.589775        NaN         NaN  19.231159  79.691551        NaN
2010-01-06  78.398163        NaN         NaN  19.153616  78.944260        NaN
2010-01-07  78.915520        NaN         NaN  19.535376  79.471191        NaN
2010-01-08  78.110748        NaN         NaN  19.374319  79.059227        NaN
...               ...        ...         ...        ...        ...        ...
2022-12-23  62.380001  45.730000  116.029999  27.129999  62.520000  46.080002
2022-12-27  63.880001  45.463001  117.930000  27.670000  64.309998  46.090000
2022-12-28  61.750000  45.220001  116.250000  27.400000  63.889999  45.950001
2022-12-29  61.290001  45.799999  116.400002  26.350000  61.580002  45.799999
2022-12-30  61.919998  45.830002  118.160004  26.590000  62.000000  46.099998

                Volume
                  META       MRO       OXY      ROBO
Date
2010-01-04         NaN   9214250   3630352       NaN
2010-01-05         NaN   9483319   3515432       NaN
2010-01-06         NaN  15233864   5578661       NaN
2010-01-07         NaN   7803018   4300559       NaN
2010-01-08         NaN   7585247   4336465       NaN
...                ...       ...       ...       ...
2022-12-23  17796600.0   9400500  11828800   94700.0
2022-12-27  21392300.0   6868500   9026100  109500.0
2022-12-28  19612500.0   7907600  10347000  110200.0
2022-12-29  22366200.0   6133100   7338700  100900.0
2022-12-30  19492100.0   7194200   8177200   83600.0

[3272 rows x 24 columns]